.giphyText {
	position: relative;
}

.header {
	display: block;
}

.header h1 {
	color: rgb(79, 129, 158);
	font: 600 10vw Source-Code-Pro;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(0, 132, 255),
		0 0 12px rgb(0, 132, 255), 0 0 12px rgb(0, 132, 255), 0 0 12px rgb(0, 132, 255), 0 0 1px rgb(0, 132, 255);
	cursor: default;
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -10px;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid rgb(87, 132, 190);
	background-color: rgb(156, 185, 223);
	cursor: pointer;
}

.home:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -10px;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid rgb(87, 132, 190);
	background-color: #fff;
}

.home svg {
	width: 25px;
	height: 25px;
	fill: rgb(87, 132, 190);
}

.toggle_language select {
	position: absolute;
	top: -10px;
	right: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 9px;
    line-height: 9px;
	background: rgb(156, 185, 223);
	border: none;
	padding: 3px;
}

.toggle_language select:hover {
	position: absolute;
	top: -10px;
	right: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #fff;
	border: none;
	padding: 3px;
}

