.searcher {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchInput_text {
    outline: none;
    width: 40vw;
    height: 5vh;
    border-radius: 1vh 0 0 1vh;
    padding-left: 1vw;
    font: 400 3vh sans-serif;
}

.searchBg {
    position: relative;
    background-color: rgb(136, 136, 136);
    width: 5vh;
    height: calc(5vh - 2px);
    border-radius: 0 1vh 1vh 0;
}

.searchBg:hover {
    position: relative;
    background-color: rgb(186, 186, 186);
    width: 5vh;
    height: calc(5vh - 2px);
    border-radius: 0 1vh 1vh 0;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    z-index: 1;
}

.searchInput_submit {
    cursor: pointer;
    border: none;
    position: relative;
    width: 5vh;
    height: calc(5vh - 2px);
    border-radius: 0 1vh 1vh 0;
    opacity: 0;
    z-index: 2;
}



