.searcher {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
}

.searchInput_text {
    outline: none;
    width: 40vw;
    height: 2vw;
    border: none;
    border-radius: 6px 0 0 6px;
    padding-left: 1vw;
    font: 400 1vw Source-Code-Pro;
}

.searchBg {
    position: relative;
    background-color: rgb(136, 136, 136);
    width: 2vw;
    border: none;
    height: 2vw;
    border-radius: 0 6px 6px 0;
}

.searchBg:hover {
    position: relative;
    background-color: rgb(186, 186, 186);
    width: 2vw;
    height: 2vw;
    border-radius: 0 6px 6px 0;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    z-index: 1;
}

.searchInput_submit {
    cursor: pointer;
    border: none;
    position: relative;
    width: 2vw;
    height: 2vw;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    z-index: 2;
}



