@keyframes expand {
	from {
		transform: scale(0);
		opacity: 0;
	}
}

.contentNotFound {
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: expand .5s ease-in-out;
}

.contentNotFound h1 {
    color: rgb(254, 213, 170);
	font: 600 2vw Source-Code-Pro;
}

.contentNotFound img {
    width: 20vw;
    height: 30vw;
}






