@font-face {
	font-family: 'Source-Code-Pro';
	src: local('Source-Code-Pro'), url(./fonts/Source-Code-Pro/SourceCodePro-Regular.ttf) format('tff');
  }

.App {
	position: relative;
	background: url("./img/bg.svg") no-repeat fixed;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow-x: hidden;
	padding-bottom: 3vw;
}

.container {
	width: 80vw;
}

.App-header_input {
	position: relative;
	display: flex;
	justify-content: center;
}

.Arrow-Up {
	position: fixed;
	text-align: center;
	right: 1vw;
	bottom: 30px;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: rgb(78, 74, 74);
	cursor: pointer;
}

.Arrow-Up:hover {
	position: fixed;
	text-align: center;
	right: 1vw;
	bottom: 30px;
	cursor: pointer;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: rgb(78, 74, 74);
	border: 1px rgb(214, 243, 85) solid;
	transition: 1s;
}
