@font-face {
	font-family: 'Source-Code-Pro';
	src: local('Source-Code-Pro'), url(./fonts/Source-Code-Pro/SourceCodePro-Regular.ttf) format('tff');
}

.App {
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 3vh 10vw;
}

.app-wrapper {
	transition: all 1s ease-in-out;
}

.Arrow-Up_show {
	position: fixed;
	text-align: center;
	right: 1vw;
	bottom: 30px;
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	background: rgb(78, 74, 74);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Arrow-Up_show svg {
	width: 3.5vw;
	height: 3.5vw;
}

.Arrow-Up_show:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	text-align: center;
	right: 1vw;
	bottom: 30px;
	cursor: pointer;
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	background: rgb(78, 74, 74);
	border: 1px rgb(214, 243, 85) solid;
	transition: 1s;
}

.Arrow-Up_unshow {
	display: none;
}
  