@font-face {
	font-family: 'Source-Code-Pro';
	src: local('Source-Code-Pro'), url(./fonts/Source-Code-Pro/SourceCodePro-Regular.ttf) format('tff');
  }

.App {
	position: relative;
	background: url("./img/bg.svg") no-repeat fixed;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 3vh 10vw;
}

.Arrow-Up_show {
	position: fixed;
	text-align: center;
	right: 1vw;
	bottom: 30px;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: rgb(78, 74, 74);
	cursor: pointer;
}

.Arrow-Up_show:hover {
	position: fixed;
	text-align: center;
	right: 1vw;
	bottom: 30px;
	cursor: pointer;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: rgb(78, 74, 74);
	border: 1px rgb(214, 243, 85) solid;
	transition: 1s;
}

.Arrow-Up_unshow {
	display: none;
	position: fixed;
	text-align: center;
	right: 1vw;
	bottom: 30px;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: rgb(78, 74, 74);
	cursor: pointer;
}

.loading {
	border-radius: 1vw;
    padding: 1vw;
    min-width: 390px;
    min-height: 230px;
    background: rgba(87, 132, 190, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    align-items: center;
    justify-content: center;
}
  